/* TODO: 仮あて */
.workDetailWindow {
  display: flex;
  gap: 20px;
  width: 950px;
  padding-top: 8px;

  > .preview {
    display: grid;
    flex-shrink: 0;
    place-items: center;
    width: 500px;

    > .image {
      object-fit: contain;
      border-radius: 8px;
    }
  }

  > .info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;

    > .logo {
      height: 70px;
      object-fit: contain;
    }

    > .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      > .tag {
        display: inline-block;
        padding: 4px 8px;
        font-size: 12px;
        border: solid 1px var(--color-general-white);
        border-radius: 8px;
        text-box: trim-both cap alphabetic;
      }
    }

    > .description {
      max-height: 120px;
      padding-right: 10px;
      overflow-y: scroll;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      word-break: break-all;
      overflow-wrap: anywhere;
      white-space: pre-wrap;

      /* Firefox用 */
      scrollbar-color: rgb(255 255 255 / 60%) rgb(255 255 255 / 20%);
      scrollbar-width: thin;

      /* カスタムスクロールバー - 強制表示 */
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        background: rgb(255 255 255 / 20%);
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb {
        min-height: 20px; /* 最小の高さを保証 */
        background: rgb(255 255 255 / 60%);
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgb(255 255 255 / 80%);
      }

      &::-webkit-scrollbar-thumb:active {
        background: rgb(255 255 255 / 90%);
      }
    }

    > .links {
      display: flex;
      gap: 16px;
    }
  }
}
