.workDetailWindow {
  display: flex;
  gap: 1.25rem;
  width: 59.375rem;
  padding-top: 0.5rem;

  > .preview {
    display: grid;
    flex-shrink: 0;
    place-items: center;
    width: 31.25rem;

    > .image {
      object-fit: contain;
      border-radius: 0.5rem;
    }
  }

  > .info {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    align-items: center;

    > .logo {
      height: 4.375rem;
      object-fit: contain;
    }

    > .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      > .tag {
        display: inline-block;
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
        border: solid 1px var(--color-general-white);
        border-radius: 0.5rem;
        text-box: trim-both cap alphabetic;
      }
    }

    > .content {
      position: relative;
      width: 100%;

      > .description {
        max-height: 7.5rem;
        padding-right: 0.75rem;
        overflow-y: auto;
        font-size: 0.875rem;
        line-height: 1.5;
        text-align: center;
        overflow-wrap: anywhere;
        white-space: pre-wrap;

        /* ネイティブスクロールバーを隠す */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* WebKit/Chromium */
        }
      }

      > .scrollbar {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 0.3125rem;
        height: 100%;
        pointer-events: none;
        background: var(--color-general-background-alpha);
        border-radius: 1.25rem;

        > .thumb {
          position: absolute;
          left: 0;
          width: 100%;
          background-color: var(--color-use-case-scrollbar-thumb);
          border-radius: 1.25rem;
          transition: background-color 120ms ease;
        }
      }
    }

    > .links {
      display: flex;
      gap: 1rem;
    }
  }
}
