.workDetailWindow {
  display: flex;
  gap: 1.25rem;
  width: calc(59.375rem * var(--window-scale));
  height: 100%;
  padding-top: calc(0.5rem * var(--window-scale));

  --window-scale: var(--window-scale, 1);

  > .preview {
    display: grid;
    flex-shrink: 0;
    place-items: center;
    width: calc(32.5rem * var(--window-scale) - 1.25rem);

    > .image {
      width: 100%;
      max-width: calc(30rem * var(--window-scale));
      height: auto;
      max-height: calc(17.5rem * var(--window-scale));
      object-fit: contain;
      border-radius: calc(0.5rem * var(--window-scale));
    }
  }

  > .info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.125rem;
    align-items: stretch;
    min-width: 0;

    > .logo {
      width: auto;
      max-width: 100%;
      height: 4.375rem;
      padding: 0 2rem;
      object-fit: contain;
    }

    > .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;

      > .tag {
        display: inline-block;
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
        border: solid 1px var(--color-general-white);
        border-radius: 0.5rem;
        text-box: trim-both cap alphabetic;
      }
    }

    > .content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;

      > .description {
        max-height: 7.25rem;
        padding-right: 0.75rem;
        overflow-y: auto;
        font-size: 0.875rem;
        line-height: 1.5;
        text-align: center;
        overflow-wrap: anywhere;
        white-space: pre-wrap;

        /* ネイティブスクロールバーを隠す */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* WebKit/Chromium */
        }
      }

      > .scrollbar {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 0.3125rem;
        height: 100%;
        pointer-events: none;
        background: var(--color-general-background-alpha);
        border-radius: 1.25rem;

        > .thumb {
          position: absolute;
          left: 0;
          width: 100%;
          background-color: var(--color-use-case-scrollbar-thumb);
          border-radius: 1.25rem;
          transition:
            background-color 120ms ease,
            opacity 120ms ease;

          &.Hidden {
            opacity: 0;
          }
        }
      }
    }

    > .links {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
  }
}
