.starWidget {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: var(--color-general-rich-yellow);

  > .stars {
    display: flex;
    gap: 0.5rem;

    > .round {
      display: grid;
      place-items: center;
      width: 1.25rem;
      height: 1.25rem;
      border: solid 1px var(--color-general-rich-yellow);
      border-radius: 50%;

      > .icon {
        display: inline-flex;
        width: 0.875rem;
        height: 0.875rem;
        line-height: 1;
        fill: var(--color-general-rich-yellow);
      }
    }
  }

  > .datetime {
    font-family: Iceland, sans-serif;
    font-size: 0.875rem;
  }
}
