.windowContainer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px;
  cursor: default;
  background-color: var(--color-use-case-window-background);
  border: solid 1px var(--color-use-case-window-border);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  transition:
    opacity 0.45s ease,
    transform 0.45s ease;
  will-change: backdrop-filter; /* Safari系最適化: will-changeで初期適用ラグを軽減 */

  &.FullScreen {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  > .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  > .control {
    position: absolute;
    top: 16px;
    left: 22px;
  }
}

.AppearHidden {
  opacity: 0;
  transform: translateY(8px);
}

.AppearShown {
  opacity: 1;
  transform: translateY(0);
}
