.windowControl {
  display: flex;
  gap: 0.625rem;

  > .button {
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
    cursor: default;
    border-radius: 50%;

    > .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.9375rem;
      height: 0.9375rem;
      opacity: 0;
      transform: translate(-50%, -50%);

      > svg {
        display: block;
        width: 100%;
        height: 100%;
        transform: scale(var(--icon-scale, 1));
        transform-origin: 50% 50%;
      }
    }

    &.Close {
      background-color: var(--color-use-case-window-control-close);

      > .icon > svg {
        --icon-scale: 0.7;
      }

      &:active {
        background-color: var(--color-use-case-window-control-close-mousedown);
      }
    }

    &.Minimize {
      background-color: var(--color-use-case-window-control-minimize);

      > .icon > svg {
        --icon-scale: 0.7;
      }

      &:active {
        background-color: var(--color-use-case-window-control-minimize-mousedown);
      }
    }

    &.Maximize {
      background-color: var(--color-use-case-window-control-maximize);

      > .icon > svg {
        --icon-scale: 0.4;
      }

      &:active {
        background-color: var(--color-use-case-window-control-maximize-mousedown);
      }
    }
  }

  &:hover > .button > .icon {
    opacity: 1;
  }
}
