.basicInfoWindow {
  display: flex;
  flex-direction: column;

  > .name {
    font-family: Urbanist, sans-serif;
    font-size: 5rem;
    font-weight: 700;
  }

  > .info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: fit-content;
    padding: 0.5rem 1.5rem 0 0.125rem;
    border-top: solid 1px var(--color-general-rich-yellow);

    > .row {
      display: flex;
      gap: 0.375rem;
      align-items: center;

      > .icon {
        display: inline-flex;
        width: 1.125rem;
        height: 1.125rem;
        line-height: 1;
        stroke: var(--color-general-rich-yellow);
      }

      > .label {
        font-family: Urbanist, sans-serif;
        font-size: 1.125rem;
        -webkit-font-smoothing: antialiased;
        text-box: trim-both cap alphabetic;
        letter-spacing: 0.01em;

        &.Numeric {
          padding-top: 0.15rem;
          letter-spacing: 0.03em;
        }
      }
    }
  }

  > .badges {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.25rem;

    > .row {
      display: flex;
      gap: 0.5rem;
    }
  }
}
