@import url("./variables.css");

html,
body {
  font-family: "IBM Plex Sans JP", sans-serif;
  color: var(--color-general-white);
  background-image: url("/background.jpg");
  background-position-y: 30%;
  background-size: cover;
}
