@import url("./variables.css");

html,
body {
  overflow: hidden;
  font-family: "IBM Plex Sans JP", sans-serif;
  color: var(--color-general-white);
  background-color: var(--color-use-case-background);
  background-image: url("/background.jpg");
  background-attachment: fixed;
  background-position: center 30%;
  background-size: cover;
}

span {
  -webkit-font-smoothing: antialiased;
}
