:root {
  /* è‰² */
  --color-general-white: #fff;
  --color-general-gray: #c5c5c5;
  --color-general-dark: #484848;
  --color-general-rich-yellow: #ffebd0;
  --color-general-rich-yellow-alpha-20: rgb(255 235 208 / 20%);
  --color-general-rich-yellow-alpha-30: rgb(255 235 208 / 30%);
  --color-general-rich-yellow-alpha-50: rgb(255 235 208 / 50%);
  --color-general-pale-green: #a3eecc;
  --color-general-pale-aqua: #adfaff;
  --color-general-pale-pink: #ffd0f9;
  --color-general-bitter-yellow: #beaa8e;
  --color-general-bitter-yellow-alpha-30: rgb(190 170 142 / 30%);
  --color-general-bitter-yellow-alpha-40: rgb(190 170 142 / 40%);
  --color-general-bitter-yellow-alpha-50: rgb(190 170 142 / 50%);
  --color-general-background-alpha: rgb(255 255 255 / 20%);
  --color-use-case-background: #010101;
  --color-use-case-window-background: rgb(64 64 64 / 50%);
  --color-use-case-window-border: #63656f;
  --color-use-case-badge-border: #616161;
  --color-use-case-works-nav-button-disabled: rgb(255 235 208 / 20%);
  --color-use-case-works-nav-button: rgb(255 235 208 / 40%);
  --color-use-case-window-control-close: #ff4245;
  --color-use-case-window-control-close-mousedown: #ff6165;
  --color-use-case-window-control-minimize: #ffd600;
  --color-use-case-window-control-minimize-mousedown: #fedf43;
  --color-use-case-window-control-maximize: #30d158;
  --color-use-case-window-control-maximize-mousedown: #4ad968;
  --color-use-case-player-window-close: #464448;
  --color-use-case-scrollbar-thumb: rgb(255 255 255 / 70%);
  --gradient-use-case-badge: linear-gradient(to bottom, #606060 0%, #262525 100%);
}
