:root {
  /* 色 */
  --color-general-white: #fff;
  --color-use-case-background: #010101;
  --color-use-case-window-control-close: #ff3c2f;
  --color-use-case-window-control-minimize: #ffcc01;
  --color-use-case-window-control-maximize: #35c759;
}
