.mainView {
  position: relative;
  width: 100vw;
  height: 100vh;

  > .status {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  > .star {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
  }

  > .works {
    position: absolute;
    right: 64px;
    bottom: 64px;
  }

  > .player {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
