.soundActionButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 9.375rem;
  height: 2.25rem;
  background-color: var(--color-use-case-general-button-alpha-50);
  border: solid 1px var(--color-use-case-general-button-color);
  border-radius: 0.5rem;

  > .text {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--color-general-rich-yellow);
    text-box: trim-both cap alphabetic;
  }

  > .icon {
    width: 1.375rem;
    height: 1.375rem;
    line-height: 1;
    stroke: var(--color-general-rich-yellow);

    &.Larger {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
