.soundActionButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 9.375rem;
  height: 2.25rem;
  background-color: var(--color-use-case-general-button-alpha-50);
  border: solid 1px var(--color-use-case-general-button-color);
  border-radius: 0.5rem;
  transition: transform 0.1s ease-in-out;

  &:active {
    transform: scale(0.95);
  }

  > .text {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-box: trim-both cap alphabetic;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--color-general-rich-yellow);
  }

  > .icon {
    width: 1.375rem;
    height: 1.375rem;
    line-height: 1;
    stroke: var(--color-general-rich-yellow);

    &.Larger {
      width: 1.5rem;
      height: 1.5rem;
    }

    &.Hidden {
      display: none;
    }
  }
}

.loadingSpinner {
  --weight: 1.5px;

  width: 1em;
  aspect-ratio: 1;
  background: var(--color-general-rich-yellow);
  border-radius: 50%;
  mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--weight) - 1px),
      #000 calc(100% - var(--weight))
    );

  /* 交差合成でリングを作る */
  mask-composite: intersect;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  to {
    transform: rotate(0.5turn);
  }
}
