.linkButton {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.75rem;
  background-color: var(--color-general-rich-yellow-alpha-20);
  border: solid 0.5px var(--color-general-rich-yellow);
  border-radius: 8px;
  backdrop-filter: blur(4px);

  > .icon {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border: solid 0.0625rem var(--color-general-bitter-yellow);
    border-radius: 50%;
  }

  > .right {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;

    > .type {
      width: fit-content;
      padding: 0.125rem 0.25rem;
      font-family: "x14y24pxHeadUpDaisy", monospace;
      font-size: 0.5625rem;
      line-height: 1;
      color: var(--color-general-dark);
      border-radius: 2px;

      &.Background {
        background-color: var(--color-general-pale-green);
      }

      &.Visual {
        background-color: var(--color-general-pale-aqua);
      }

      &.Font {
        background-color: var(--color-general-pale-pink);
      }
    }

    > .label {
      font-size: 0.875rem;
    }
  }
}
