.welcomeView {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 26.875rem;
  padding: 2rem 0;

  > .upper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: inherit;
    text-align: center;

    > .icon {
      width: 3.125rem;
      height: 3.125rem;
    }

    > .title {
      font-size: 1.125rem;
      line-height: 1.6;
    }

    > .caption {
      font-size: 0.875rem;
      color: var(--color-general-gray);
    }
  }

  > .actions {
    display: flex;
    justify-content: space-between;
    width: 20rem;
  }
}
