.welcomeView {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 26.875rem;
  padding: 2rem 0;

  > .upper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: inherit;
    text-align: center;

    > .icon {
      width: 3.125rem;
      height: 3.125rem;
    }

    > .title {
      font-size: 1.125rem;
      line-height: 1.6;
    }

    > .caption {
      font-size: 0.875rem;
      color: var(--color-general-gray);
    }
  }

  > .lower {
    position: relative;
    display: flex;
    align-items: center;
    width: 20rem;
    height: 36px;

    > .inner {
      position: relative;
      width: 100%;
      height: 100%;

      > .layer {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
      }

      > .fetching {
        display: flex;
        flex-direction: column;
        gap: 16px;
        transition: opacity 1s;

        &.Hidden {
          opacity: 0;
        }

        > .label {
          font-size: 10px;
          line-height: 1;
        }
      }

      > .actions {
        display: flex;
        justify-content: space-between;
        width: 100%;
        opacity: 0;
        transition: opacity 1s;

        &.Visible {
          opacity: 1;
        }
      }
    }
  }
}
