.loadingStatusWidget {
  --loading-status-font-size: 0.625rem;

  display: flex;
  gap: 0.125rem;
  align-items: center;
  min-height: var(--loading-status-font-size); /* フォントサイズで固定 */
  line-height: 1;

  > .text {
    font-family: "x14y24pxHeadUpDaisy", monospace;
    font-size: var(--loading-status-font-size);
    line-height: 1;
    color: var(--color-general-pale-green);
  }

  > .icon {
    display: inline-flex;
    width: var(--loading-status-font-size);
    height: var(--loading-status-font-size);
    line-height: 1;
    stroke: var(--color-general-pale-green);
  }
}
