.inspiredByWindow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(40rem * var(--window-scale));
  padding-top: calc(0.5rem * var(--window-scale));

  --window-scale: var(--window-scale, 1);

  > .title {
    font-family: Urbanist, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(
      to right,
      var(--color-general-pale-pink),
      var(--color-general-pale-aqua)
    );
    background-clip: text;
  }

  > .items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.85rem;
    justify-content: center;
  }
}
