.progressBar {
  position: relative;
  width: 100%;
  height: 0.125rem;
  overflow: hidden;
  background-color: var(--color-general-background-alpha);
  border-radius: 0.5rem;

  > .current {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-general-white);

    &.HasEasing {
      transition: width 0.2s ease-out;
    }
  }
}
